<h2>Por País</h2>
<hr>

<div class="row">
  <div class="col">
    <!--search box-->
    <!--PALCEHOLDER ENVIA ESTE TEXTO AL INPUT PLACEHOLDER EN EL COMPONENTE-->
    <shared-search-box
      (onValue)="searchByCountry($event)"
      placeholder="Buscar por País"
    ></shared-search-box>
  </div>
</div>


<div class="row">
  <div class="col">
    <hr>
    <!-- <ul>
      <li *ngFor="let country of countries">{{ country.name.nativeName.spa?.common }} - {{ country.population}}</li>
    </ul> -->
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
